@use '../../../../styles/variables.scss' as *;

.fileLoader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: $radius-8;
    background-color: #fff;
    width: 100%;
    align-items: flex-start;
}

.contentContainer {
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;

    gap: 20px;
    width: 100%;
    min-width: 0;
}

.content__state {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex-grow: 1;
}

.closeContainer {
}

.content__state__fileInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 0;
}

.content__state__fileInfo__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.2;
}

.actions {
    display: flex;
    justify-content: center;
}

.stateIcon {
    width: 40px;
    flex-shrink: 0;
}
