@use '../../../styles/variables.scss' as *;

text {
    font-family: $font-inter;
    color: $color-black;
    font-weight: 300;
}

.display {
    @extend text;

    font-size: 50px;
    font-weight: 500;
    color: $color-black;
    line-height: 1.1;
}

.header {
    @extend text;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.title {
    @extend text;
    font-size: 24px;
    font-weight: 600;
}

.caption {
    @extend text;
    font-size: 16px;
    color: $color-grey;
}

.small {
    @extend text;
    font-size: 12px;
}

body {
    @extend text;
}

.bodyS {
    @extend body;
    font-size: 18px;
}

.bodyM {
    @extend body;
    font-size: 20px;
}

.bodyL {
    @extend body;
    font-size: 30px;
}

.numbers {
    font-size: 35px;
    font-weight: 600;
}

// Colors
.color_standard {
}

.color_white {
    color: $color-white;
}

.color_light {
    color: $color-grey;
}

.color_alarm {
    color: $color-error-active;
}

.color_accent {
    color: $color-blue;
}
