@use '../../../styles/variables.scss' as *;

.alert {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: $spacing-2-5;
    border: 0;
    border-radius: $radius-8;
}

.error {
    @extend .alert;
    background-color: $color-error-active;
    color: $color-white;
}
