@use "./styles/variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  margin: 0;
  line-height: normal;
  color: $color-black;
  font-family: $font-inter;
  background: $color-grey-bg;
}

:root {
  /* Для совместимости с кастомными свойствами, если где-то используются */
  --color-royalblue: #0466c8;
  --color-black: #313131;
  --color-white: #fff;
  --color-darkslategray: #313131;
  --color-dimgray: #565656;
  --color-whitesmoke: #f5f7f9;
  --color-darkslateblue: #0353a4;
  --gap-8: 8px;
  --gap-14: 14px;
  --gap-20: 20px;
  --gap-24: 24px;
  --gap-30: 30px;
  --padding-10: 10px;
  --padding-20: 20px;
  --padding-30: 30px;
  --padding-80: 80px;
  --br-8: 8px;
  --br-10: 10px;
  --font-inter: Inter;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-30: 30px;
}
