@use './styles/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
    margin: 0;
    line-height: normal;
    color: $color-black;
    font-family: $font-inter;
    background: $color-grey-bg;
}
