@use '../../../styles/variables.scss' as *;

.footer {
    background: $color-grey;
    width: 100%;
    padding: $spacing-2-5 $spacing-2;

    // Десктопные стили
    @media (min-width: 768px) {
        padding: 40px $spacing-80;
    }
}

.logoSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-1;
}

.logoIcon {
    width: 35px !important;
    height: 35px !important;

    // Десктопная версия
    @media (min-width: 768px) {
        width: 50px !important;
        height: 50px !important;
    }
}

.logoText {
    color: $color-white !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: $font-size-12 !important;
    line-height: 15px !important;
    font-family: $font-inter;

    // Десктопная версия
    @media (min-width: 768px) {
        font-size: $font-size-16 !important;
        line-height: normal !important;
    }
}

.copyright {
    color: $color-white !important;
    font-size: $font-size-12 !important;
    line-height: 15px !important;
    font-family: $font-inter;

    // Десктопная версия
    @media (min-width: 768px) {
        font-size: $font-size-16 !important;
        line-height: normal !important;
        white-space: nowrap;
    }
}

.links {
    display: flex;
    flex-direction: row;
    gap: $spacing-2-5;
    align-items: flex-start;
}

.link {
    color: $color-white !important;
    font-size: $font-size-12 !important;
    line-height: 15px !important;
    font-family: $font-inter;
    cursor: pointer;

    // Десктопная версия
    @media (min-width: 768px) {
        font-size: $font-size-16 !important;
        line-height: normal !important;
    }

    &:hover {
        text-decoration: underline;
    }
}
