@use '../../../../styles/variables.scss' as *;

.dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.dropzoneText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
