@use '../../../../styles/variables.scss' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
}

.dropzone {
    border: 0;
    border-radius: $radius-8;
    padding: 40px;
    min-height: 430px;
    box-sizing: border-box;
    width: 100%;

    background: $color-grey-bg;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropzoneEmpty {
    @extend .dropzone;
    border: dashed 2px $color-blue;
}
